# Ignore macOS system files
.DS_Store

# Ignore Static files
build/
assets/
noteflow.egg-info/
notes.md
archived/
dist/

# Ignore Python virtual environment directory
.venv/

# Ignore other common files
__pycache__/
*.pyc
*.pyo
